body {
    background-color: rgb(186, 183, 212);
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
   background-color: aqua;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
P {
    text-align: center;
    background-color:rgb(255, 0, 132);
}
button {
    background-color: bisque;
    
}

